

#calculator {
    width: 450px;
    height: 270px;;
    margin: 50px auto 0 auto;
    background-color: #191970;
    padding: 10px 10px 260px 10px;
    border-radius: 5px;
    border-bottom: 5px solid #42729B;
  }
  
  .result {
    float: left;
    line-height: 40px;
    color: #000;
    margin: 5px;
  }
  
  .result > input {
    width: 305px;
    height: 40px;
  }
  
  .clear, button {
    height: 40px;
    border-bottom: 3px solid grey;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin: 5px;
  } 
  
  .clear {
    width: 95px;
    float: left;
    background-color: #c0392b;
    color: #fff;
      border-color: #A63125;
  }
  
  
  
  button {
    float: left;
    width: 95px;
  }
  
  button:hover{
      
      background-color:#00BFFF;
  }
   